<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Server URLs</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>http://lf.penthera.com:8080/VBCP</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>BackplaneURL</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>Backplane</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>http://ec2-54-201-97-38.us-west-2.compute.amazonaws.com/packager</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>PackagerURL</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>Packager</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>0</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>MaxBackgroundDownload</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>Title</key>
			<string>Max Background Time</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
